<div class="slide">
  <div class="swiper-container">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <a class="spotlight"
            href="./uploads/1.webp">
          <img src="./uploads/1.webp" />
        </a>
      </div>
      <div class="swiper-slide">
        <a class="spotlight" href="./uploads/2.webp">
          <img src="./uploads/2.webp" />
        </a>
      </div>
      <div class="swiper-slide">
        <a class="spotlight" href="./uploads/3.webp">        
          <img src="./uploads/3.webp" />
        </a>
      </div>
      <div class="swiper-slide">
        <a class="spotlight" href="./uploads/4.webp">        
          <img src="./uploads/4.webp" />
        </a>
      </div>
    </div>
    <!-- Add Pagination -->
    <div class="swiper-pagination"></div>
    <!-- Add Arrows -->
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
  </div>
</div>
