<%- include('components/header') -%>
<%- include('components/navbar') -%>
<%- include('components/slide') -%>

<div class="container">
  <div class="row">
      
  </div>
</div>

<%- include('components/footer') -%>