<%- include('components/header') -%>
<%- include('components/navbar') -%>

<div class="container-fluid">
    <div class="row mt-5">
        <%- include('components/card-new-born') -%>
    </div>
</div>

<%- include('components/footer') -%>